 html {
    font-family: 'Libre Baskerville', 'Roboto', serif;
  }

p {
  line-height: 2rem;
}
 .center a {
  color: yellow;
 }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  
}
.parallax-container .section {
    width: 100%;
  }

.parallax-container .section .row h5 {
margin-right: 100%;
color:  #ffeb3b;
font-weight: 700;
font-family: 'Libre Baskerville', 'Roboto', serif;
font-size: 35px;
padding-top: 6px;

}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 20%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer .container ul li   {
display: inline-block; 
}

footer .container ul li {
  max-width: 40px;
  max-height: 40px;
  color: #e74c3c;
  padding-left: 10px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

footer .container ul li i {
  color: #ffeb3b;
}

footer .container ul {
  text-align: center;
  margin-bottom: 0;
}

.footer-copyright .container {
  text-align: center;
  font-family: 'Libre Baskerville', 'Roboto', serif;
  color: #ffeb3b;
}

 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: auto;
 }
 .parallax-container
 {
 	color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
 	color: black;
 }
}
 



